*.cd
*.aps
*.obj
*.tlog
*.pch
*.manifest
*.opensdf
*.ipch
*.pdb
2D-Portfolio/Debug/Client.exe
*.ilk
*.cache
*.res
*.lastbuildstate
*.log
*.idb
*.sdf
2D-Portfolio/Debug/MFC_000.exe
2D-Portfolio/Client/Debug/Client_manifest.rc
2D-Portfolio/MFC_000/Debug/MFC_000_manifest.rc